<div th:fragment="sidebar">
    <div id="sidebar">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header position-relative">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="/assets/compiled/jpg/logo.jpg" alt="Logo" style="width: 60px; height: 50px;">
                        </a>
                    </div>
                    <div class="sidebar-toggler x">
                        <a href="#" class="sidebar-hide d-xl-none d-block">
                            <i class="bi bi-x bi-middle"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Navigation</li>

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-person-fill"></i>
                            <span>Profil</span>
                        </a>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-wallet2"></i>
                            <span>Portefeuille</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a th:href="@{/portefeuille/historique}" class="submenu-link">Historique</a>
                            </li>
                            <li class="submenu-item">
                                <a th:href="@{/portefeuille/etat}" class="submenu-link">État</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item has-sub">
                        <a href="#" class="sidebar-link">
                            <i class="bi bi-cash-stack"></i>
                            <span>Gestion de fond</span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a th:href="@{/historique-fond/form}" class="submenu-link">Retrait/Dépôt</a>
                            </li>
                            <li class="submenu-item">
                                <a th:href="@{/historique-fond/utilisateur}" class="submenu-link">Historique</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a th:href="@{/cours/chart}" class="sidebar-link">
                            <i class="bi bi-graph-up"></i>
                            <span>Cours</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a th:href="@{/portefeuille/historique-global}" class="sidebar-link">
                            <i class="bi bi-clock-history"></i>
                            <span>Historique global</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>