<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="success" type="java.lang.String"*/-->
    <th:block th:if="${success}">
        <script th:inline="javascript">
            Toastify({
                text: /*[[${success}]]*/,
                duration: 3000,
                close: true,
                gravity: "top",
                position: "right",
                backgroundColor: "#4fbe87",
            }).showToast();
        </script>
    </th:block>
</html>
