<!DOCTYPE html>
<html lang="fr"
      th:fragment="layout(title, content, scripts, styles)"
      th:replace="~{base :: base(~{::title}, ~{::body}, ~{::scripts}, ~{::styles})}"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="body">
    <div id="app">
        <th:block th:insert="~{partials/_sidebar}"/>
        <div id="main" th:replace="${content}"></div>
    </div>
</th:block>

<th:block th:replace="scripts">
    <script th:src="@{js/components/dark.js}"></script>
    <script th:src="@{extensions/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{js/app.js}"></script>

    <th:block th:insert="${scripts}"/>
</th:block>
</html>
