<!DOCTYPE html>
<html lang="fr" th:replace="~{main_layout :: layout(~{::title}, ~{::content}, ~{::scripts}, ~{::styles})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modification Commissions</title>
    <th:block th:fragment="styles">
        <link rel="stylesheet" th:href="@{/extensions/toastify-js/src/toastify.css}">
    </th:block>
</head>

<th:block th:fragment="content">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Modification des Commissions</h3>
                    <p class="text-subtitle text-muted">Ajustez les commissions d'achat et de vente</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Commissions</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Modification</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <section class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Formulaire de Modification</h4>
                    </div>
                    <div class="card-body">
                        <form class="form form-horizontal"
                              method="post"
                              th:object="${commission}"
                        >
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="commission-achat">Commission d'achat (%)</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="number"
                                               id="commission-achat"
                                               class="form-control"
                                               step="0.01"
                                               th:field="*{commissionAchat}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="commission-vente">Commission de vente (%)</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="number"
                                               id="commission-vente"
                                               class="form-control"
                                               step="0.01"
                                               th:field="*{commissionVente}">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary mt-2">
                                        Enregistrer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>

<th:block th:fragment="scripts">
    <script th:src="@{/extensions/toastify-js/src/toastify.js}"></script>
    <th:block th:insert="~{partials/_success}"/>
</th:block>
</html>
